.dh-live-data {
    color: white !important;
}


.dark-bluish-grey {
    background-color: #1f2532 !important;
}

.light-bluish-grey {
    background-color: #394A59 !important;
}


.background  {
 background-color: #F2F2F2;
}


.round-img{

    border-radius: 35px;
    width: 35px;
    height: 35px;
}

.icon-white{
    color: white !important;
}

.map-container{
    margin: 15px;
}

.map-container-2{
    margin: 30px;
}

.graph-container{
    margin: 5px;
}

.logo-img{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.long{
    min-height: 20vh;

}
.logo-container{
    min-height: 14vh;
}

.lower{
    margin-top: 20px;
}

.floaty{
    margin-top: 14vh;
}

.md-nav-item span {
    color: white !important;
}

md-nav-bar md-nav-ink-bar {
    background: white;
}


.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
}

.ui-slider {
    position: relative;
}

.ui-slider-out-of-bounds {
    position: absolute;
    background-color: #EEE;
    height: 100%;
}

.ui-slider-tip {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 21px;
    text-align: center;
    font-size: 0.8em;
}

.slider-text{

    color: white;

}

.slider-padding{
    margin-left: 20px;
    margin-right: 20px;
}

md-checkbox .md-icon {
    background-color: white;
}