<md-dialog aria-label="Tags">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div class="md-subhead"><h2> </h2></div>
                <span class="md-subhead" > TAGS Measured During the Last 24 Hours of Readings</span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-repeat="tag in tags"> {{tag}}</div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

        </md-dialog-actions>
    </form>
</md-dialog>
Open a dia