

<div >
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="images/7.jpg">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">The Digital Homestead</span>
                <span class="md-subhead">Lansdown</span>
            </md-card-header-text>
        </md-card-header>
        <div class="carousel carousel-slider center" data-indicators="true" ng-class="{ fullscreen : isFullScreen }">
            <div class="carousel-item white-text">
                <img ng-src="images/1.jpg" class="md-card-image" alt="image caption"  height="497px" width="auto">
                <div class="carousel-caption slideDown">
                    <h3>Digital Homestead</h3>
                    <p class="light grey-text text-lighten-3">The Digital Homestead project evaluates how modern Information and Communication
                        Technologies (ICT) such as wireless sensor networks (WSN’s), data analytics
                        and rural connectivity can support greater profitability for the Northern beef industry.</p>
                </div>
            </div>

            <a class="carousel-item" >
                <img ng-src="images/6.jpg" class="md-card-image" alt="image caption" height="497px" width="auto">
                <div class="carousel-caption slideDown">
                <h3>Digital Homestead</h3>
                <p class="light grey-text text-lighten-3">Cattle are drawn to areas with water.</p>
                </div>
            </a>

            <a class="carousel-item" >
                <img ng-src="images/11.jpg" class="md-card-image" alt="image caption" height="497px" width="auto">
                <div class="carousel-caption slideDown">
                <h3>Digital Homestead</h3>
                <p class="light grey-text text-lighten-3">Weight data is captured by the Walk Over Weigher.</p>
                </div>
            </a>

            <a class="carousel-item" >
                <img ng-src="images/9.jpg" class="md-card-image" alt="image caption" height="497px" width="auto">
                <div class="carousel-caption slideDown">
                <h3>Digital Homestead</h3>
                <p class="light grey-text text-lighten-3">Data is transmitted hourly through Taggle and 3G.</p>
                </div>
            </a>

            <a class="carousel-item"  >
                <img ng-src="images/4.jpg" class="md-card-image" alt="image caption" height="497px" width="auto">
                <div class="carousel-caption slideDown">
                <h3>Digital Homestead</h3>
                <p class="light grey-text text-lighten-3">Analysis and Ranking of Cattle is presented through the dashboard.</p>
                </div>
            </a>

        </div>

    </md-card>
</div>