<header class="rad-page-title">
    <button class="btn" ng-click="showLiveData()" >
        <i class="fa fa-rss"></i>View Live Data</button>

    <h1>Dashboard</h1>
    <small class="md-txt">Welcome,
        <a href="#" target="_blank">
            <i class="fa fa-map-marker rad-txt-danger"></i> Lansdown,</a>
        <i ></i> Current Status: <span class=" rad-txt-danger" >No Stock</span></a>
    </small>
</header>
<rad-dashboard-grid>

    <div layout="row"  layout-align="stretch" >

        <div flex="25" >
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-style="{color: '#23AE89'}">{{gain}}</span>
                        <span class="md-subhead">Animals Gained Weight </span>
                    </md-card-title-text>
                    <md-icon class="material-icons" style="font-size: 52px; margin-right: 20px; " ng-style="{color: '#95D7BB'}" >trending_up</md-icon>

                    <!-- <span style="background: #95D7BB; border-radius: 50%; height: 50px; width: 50px">
                        <md-icon class="material-icons"
                                 style="font-size: 44px;   color: white; padding-left: 2px; padding-top:2px"
                        >trending_up</md-icon>
                     </span>
                -->


                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showTagsGained()">View Animal Tags</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex="25" >
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-style="{color: '#afb530'}">{{loss}}</span>
                        <span class="md-subhead">Animals Lost Weight </span>
                    </md-card-title-text>
                    <md-icon class="material-icons" style="font-size: 52px; margin-right: 20px " ng-style="{color: '#D9DD81'}" >trending_down</md-icon>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showTagsLost()">View Animal Tags</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex="25" >
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-style="{color: '#45bfbd'}">{{total}}</span>
                        <span class="md-subhead">Measurements </span>
                    </md-card-title-text>
                    <md-icon class="material-icons" style="font-size: 52px; margin-right: 20px " ng-style="{color: '#79D1CF'}" >equalizer</md-icon>


                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showMeasurements()">View Animal Tags</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex="25" >
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-style="{color: '#df5753'}">{{lastHeartbeat}}  </span>
                        <span class="md-subhead">Hours Since Last Heartbeat </span>
                    </md-card-title-text>
                    <md-icon class="material-icons" style="font-size: 52px; margin-right: 20px " ng-style="{color: '#E67A77'}" >schedule</md-icon>

                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button  ng-click="showLatestReading()">{{lastLocation}}</md-button>
                </md-card-actions>
            </md-card>
        </div>

        </div>
    </div>

    <div layout="row"  layout-align="stretch">

        <div flex="100">
            <md-card>
                <div  class="map-container" id="map" style="height:500px; width:auto;"></div>

            </md-card>
        </div>
    </div>

    <div layout="row"  layout-align="stretch" >
        <div flex="60" >

            <md-card>
                <md-card-title >
                    <md-card-title-text layout-align="center center">
                        <span class="md-headline" >Herd Weight</span>
                        <span class="md-subhead">Daily Herd Weight Average: Thirds</span>
                    </md-card-title-text>
                </md-card-title>
                <div class=" graph-container" >
                    <plotly plotly-data="allTags.thirdsTraces"
                            plotly-layout="allTags.thirdsLayout"
                            plotly-options="{displayModeBar: false}">
                    </plotly>
                </div>
            </md-card>
        </div>

        <div flex="20">
            <md-card style="height:565px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" >Total Weight Gained/Lost</span>
                        <span class="md-subhead">Last 24 Hours of Readings on {{lastDate}}</span>
                    </md-card-title-text>
                </md-card-title>
                <div  flex="100" >
                    <nvd3 flex="100"  options='chart1' data='data1' api="chart1.api"></nvd3>
                </div>
            </md-card>
        </div>

        <div flex="20" >
            <md-card style="height:565px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" >Number of Animals</span>
                        <span class="md-subhead">That Gained/Lost Weight in the Last 24 Hours on {{lastDate}}</span>
                    </md-card-title-text>
                </md-card-title>
                <div flex="100" >
                    <nvd3 flex="100"  options='chart' data='data' api="chart.api"></nvd3>
                </div>
            </md-card>
        </div>
    </div>

   <!-- <md-card>
        <img  src="images/main2.png" class="md-card-image" alt="Washed Out">
    </md-card>-->

    <div layout="row" layout-align="stretch">
        <div flex="60">
            <md-card>
                <md-card-title>
                    <md-card-title-text layout-align="center center">
                        <span class="md-headline" >Herd Weight</span>
                        <span class="md-subhead">Weekly Herd Weight Averages</span>
                    </md-card-title-text>
                </md-card-title>
                <div class=" graph-container">
                    <plotly plotly-data="weeklyTrace.traces"
                            plotly-layout="weeklyTrace.layout"
                            plotly-options="{displayModeBar: false}">
                    </plotly>
                </div>
            </md-card>
        </div>
        <div  flex="40" >
            <md-card style="height:566px;">



                <div id='dash-timeline'></div>

                <md-card-actions layout="column" layout-align="start">
                    <md-button>Digital Homestead Lansdown</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>


</rad-dashboard-grid>