<div class="card-panel" flex >
    <div class="card-content"  >
        <md-card>
            <div class=" graph-container">
                <div layout="row" class="md-padding">
                    <md-input-container class="no-padding right ">
                        <label>Select a Tag </label>
                        <md-select ng-model="selectedTag" >
                            <md-option ng-repeat="tag in tagGraphs" ng-value="tag"   >
                                {{tag.name}}
                                <md-icon ng-show=" tag.alerted" ng-style="{color: 'red' , 'font-size':  '16px' }"> error </md-icon>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div style="width:500px;margin:auto;">
                        <p>Selected range: {{lower}}-{{upper}}</p>
                        <range-slider lower-value="lower" upper-value="upper" min-gap="2" step="2" min="min" max="max" ></range-slider>
                    </div>
                </div>
                <div layout="row"  >
                    <plotly-detailed plotly-data="selectedTag.traces"
                            plotly-layout="selectedTag.layout"
                            plotly-width="fullWidth"
                    ></plotly-detailed>

                  </div>
            </div>
        </md-card>
    </div>
</div>