<header class="dh-page-title">


    <h1>Explore Individual Animal Weights</h1>
    <small class="md-txt">
        <a href="#" target="_blank">
            <i class="fa fa-map-marker dh-txt-danger"></i> {{data.location}}</a>

    </small>
</header>

<dh-dashboard-grid>
    <div layout="row"  layout-align="stretch" >
        <div flex="100" >

            <md-card>
                <md-card-title >
                    <md-card-title-text layout-align="center center">
                        <span class="md-headline" >Daily Individual Weight Trend</span>
                        <span class="md-subhead">Select a Tag to View Weight Trend</span>
                    </md-card-title-text>
                </md-card-title>
                <div layout="row" class="md-padding">
                    <md-input-container class="no-padding right ">
                        <label>Select a Tag </label>
                        <md-select ng-model="selectedTag" >
                            <md-option ng-repeat="tag in tagGraphs" ng-value="tag"   >
                                {{tag.name}}
                                <md-icon ng-show=" tag.alerted" ng-style="{color: 'red' , 'font-size':  '16px' }"> error </md-icon>
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
                <div class=" graph-container" >
                    <plotly-detailed plotly-data="selectedTag.traces"
                                     plotly-layout="layoutDetailed"
                                     plotly-width="fullWidth"
                                     plotly-options="{displayModeBar: false}"
                    ></plotly-detailed>

                </div>
            </md-card>
        </div>
    </div>
</dh-dashboard-grid>