
<header class="rad-page-title">


    <h1>Explore Animal Movement Data</h1>
    <small class="md-txt">
        <a href="#" target="_blank">
            <i class="fa fa-map-marker rad-txt-danger"></i> Lansdown</a>

    </small>
</header>

<div layout="column">
    <div flex="100"  layout-align="center center">


        <md-content layout="row" >

            <div layout="column" class="md-padding">
            <md-checkbox ng-model="soil">
                Soil
            </md-checkbox>


            <md-checkbox ng-model="gradient" class="slider-text">
                Change Gradient
            </md-checkbox>


             </div>

            <div layout="column" class="md-padding">
                <md-checkbox ng-model="topology">
                    Soil Topology
                </md-checkbox>
                <md-checkbox ng-model="radius" class="slider-text">
                    Change Radius
                </md-checkbox>
            </div>

            <div layout="column" class="md-padding">

                <md-checkbox ng-model="heatmap" class="slider-text">
                    Animal Movement
                </md-checkbox>



                <md-checkbox ng-model="opacity" class="slider-text">
                    Change Opacity
                </md-checkbox>
            </div>

        </md-content>

    </div>

    <div flex="100" style="height:90vh;margin-top: 100px;" class="">
        <div class="card-panel"  flex>
            <div class="card-content " >
                <div  class="map-container-2" id="map" style="height:85vh; width: auto; "></div>
            </div>
        </div>
    </div>

</div>